.page{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container{
  width: 350px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  background-color: rgb(129, 20, 20);
}
.calculator-box{
  width: 93%;
  height: 380px;
}
.input{
  width: 98%;
  height: 80px;
  border: none;
  border-radius: 20px;
  background-color: #e4dada;
  
}
.input-value{
  font-weight: 700;
  font-size: 30px;
  padding-left: 7px;
}
.ac{
  width: 159.5px;
  height: 50px;
}
.del{
  width: 75px;
  height: 50px;
}
.devide{
  width: 75px;
  height: 50px;
}
.first-row{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.second-part{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.num{
  width: 75px;
  height: 50px;
  margin-top: 5px;
}
.third-part{
  display: flex;
  justify-content: space-between;
}
.equal-to{
  width: 159.5px;
  margin-top: 5px;
}
button{
  background-color: rgb(193, 184, 184);
  border: none;
  border-radius: 12px;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  transition: 0.3s ease-in-out;
}
button:hover{
  background-color: rgb(148, 142, 142);
}
button:active{
  background-color: rgb(74, 70, 70);
}
